body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

#passport-form {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="date"],
input[type="email"],
input[type="tel"],
select {
    width: calc(100% - 22px); /* Adjusted for padding */
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 5px;
}

button {
    display: block;
    width: calc(100% - 22px); /* Adjusted for padding */
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    background-color: #0056b3;
}

#passport {
    max-width: 500px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info {
    margin-bottom: 15px;
}

.info label {
    font-weight: bold;
}

.info p {
    margin: 5px 0;
}

.photo {
    text-align: center;
    margin-top: 20px;
}

.photo img {
    max-width: 150px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-top: 30px;
}

/* Dark Mode Toggle */
#dark-mode-toggle {
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 999;
}

.toggle {
    display: none;
}

.toggle-label {
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: #ccc;
    border-radius: 10px;
    position: relative;
}

.toggle-label::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle:checked + .toggle-label::before {
    left: calc(100% - 18px);
    transform: translateX(-100%);
}

.sun-icon,
.moon-icon {
    display: inline-block;
    line-height: 20px;
    width: 50%;
    text-align: center;
    position: absolute;
    top: 0;
}

.sun-icon {
    left: 0;
}

.moon-icon {
    right: 0;
}

/* Dark Mode Styles */
body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode .toggle-label {
    background-color: #666;
}

.dark-mode .toggle-label::before {
    background-color: #333;
}

.dark-mode .sun-icon {
    color: #ffdb75;
}

.dark-mode .moon-icon {
    color: #b3b3cc;
}
